/2025_PhyoNyiNyiPaing/target/
/2025_PhyoNyiNyiPaing/*.iml
/2025_PhyoNyiNyiPaing/.idea/
/2025_PhyoNyiNyiPaing/.classpath
/2025_PhyoNyiNyiPaing/.project
/2025_PhyoNyiNyiPaing/.settings/
/2025_PhyoNyiNyiPaing/out/

# Ignore OS junk
.DS_Store
Thumbs.db
